{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}
{% block body %}

        <!-- Start Page Title Area -->
        <div class="page-title-area item-bg3 jarallax" data-jarallax='{"speed": 0.3}'>
            <div class="container">
                <div class="page-title-content">
                    <ul>
                        <li><a href="{% url 'homePage' %}">Home</a></li>
                        <li>Password Reset</li>
                    </ul>
                    <h2>Password Reset Request</h2>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->
        <div class="content-section container text-center mt-2">
            <div class="card m-2">
                <div class="card-body">
                    <div class="jumbotron my-2">
                        <form method="POST">
                            {% csrf_token %}
                
                            <div class="form-group">
                                 {{ form|crispy }}
                                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}
