{% extends "base.html" %}    <!-- search-box-layout end -->
{% block body %}
{% load static %}
    <!-- search-box-layout end -->

    <!-- Start Page Title Area -->
    <div class="page-title-area item-bg3 jarallax" data-jarallax='{"speed": 0.3}'>
        <div class="container">
            <div class="page-title-content">
                <ul>
                    <li><a href="{% url 'homePage' %}">Home</a></li>
                    <li>Password Reset</li>
                </ul>
                <h2>Password Changed Successfully</h2>
                
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->
    <div class="content-section container text-center mt-2">
        <div class="card m-2">
            <div class="card-body">
                <div class="jumbotron my-2">
                    <form method="POST" oninput='up2.setCustomValidity(up2.value != up.value ? "Passwords do not match." : "")'>
                        <h4>Click on <b>Login Now</b> to access your account.</h4>

                    </form>
                    <div class="form-group">
                            <a href="{% url 'login' %}" role="button" class="btn btn-outline-success">Login Now</a>
                        </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

